body {
    background-color: #172326;
}
#parent{
    width: 100%;
    height: 100%;
    margin: auto;
}

#screen, #row1, #row2, #row3, #row4, #row5, #controls{
    width: 100%;
    height: 14%;
    text-align: right;
    background-color: #172326;
    color: white;
}


#screen {
    font-size: 500%;
    border: solid black;
    border-width: 0.4rem;
    background-color: #a7af7e;
    color: black;
    word-wrap: break-word;
}

button {
    margin:0;
    padding:0;
    width: 33%;
    height: 99%;
    font-size: 400%;
    background-color: black;
    color: white;
    border: white solid;
    
}

#plus, #minus, #multiply, #divide, #equals {
    background-color: orange;
}

#ac, #open, #close, #clear {
    width: 24.675%;
    background-color: #2f6877;
    color: white;
    margin: auto;
}