body {
    height: 100vh;
    background-color: rgb(23,35,38);
}
#container {
    width: 90%;
    height: 98%;
    border: solid;
    margin: auto;
}
#screen {
    height: 16%;
    border: solid;
    text-align: right;
    word-wrap: break-word;
    background-color: #a7af7e;
    font-size: 3.5vw;
    font-weight: 545;
}
#mainControls {
    height: 14%;
    display: flex;
    flex-direction: row;
}
.mainControlItems {
    flex: 1;
}

#numpadAndOperators {
    width: 100%;
    height: 69.7%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0;
    row-gap: 0;
}

#numpadAndOperators button{
    width: 100%;
    height: 98%;
    background-color: black;
    color: white;
}

.mainControlItems {
    background-color: rgb(26, 122, 142);
    color: white;
}

#plus, #minus, #multiply, #divide, #equals {
    background-color: orange !important;
}

button {
    font-size: 4.5vw;
}
