body {
    height: 100vh;
    background-color: rgb(23,35,38);
}
#container {
    width: 100%;
    height: 95%;
}
#screen {
    height: 16%;
    border: solid 5px rgba(20, 19, 19, 0.682);
    text-align: right;
    word-wrap: break-word;
    background-color: #a7af7e;
    font-size: 4vw;
}
#mainControls {
    height: 14%;
    display: flex;
    flex-direction: row;
    border: solid white 2px;
}
.mainControlItems {
    flex: 1;
}

#numpadAndOperators {
    height: 69.7%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0;
    row-gap: 0;
    border: solid white 3px;
}

#numpadAndOperators button{
    width: 100%;
    height: 98%;
    background-color: black;
    color: white;
}

.mainControlItems {
    background-color: rgb(26, 122, 142);
    color: white;
}

#plus, #minus, #multiply, #divide, #equals {
    background-color: orange !important;
}

button {
    font-size: 4.5vw;
}

button:active, #plus:active, #minus:active, #multiply:active, #divide:active, #equals:active {
    background-color: white !important;
    color: black !important;
}
